.plansContainer {
  width: 86%;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.plansContainer h3 {
  color: #555;
  font-family: "Roboto";
  font-size: 1.6rem;
  text-transform: uppercase;
}