.plansContainer {
  width: 86%;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.plansContainer h3 {
  color: #555;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 300;
}

.plansContainer h4 {
  color: #e2604b;
  font-size: 1.4rem;
  padding-top: 20px;
  margin-bottom: 30px;
  text-transform: none;
}

.plansContainer button {
  float: left;
  background: #e2604b;
  margin-top: 50px;
  height: 50px;
  width: 21%;
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
}

.planWrap {
  box-shadow: 1px 1px 1px #ccc;
  border: 1px solid #f8f8f8;
  position: relative;
}

.plansContainer .eventStop {
  background: #f7f7f7;
}

.planRouteHr {
  width: 95%;
  position: absolute;
  bottom: 25px;
  left: 2.5%;
}