.stopsSelectionContainer h3 {
  color: #fff;
  font-weight: 300;
  text-transform: capitalize;
  text-align: left;
  font-size: 1.4rem;
  margin-top: 0px;
}

.stopsSelection button {
  margin-top: 30px;
  box-shadow: 1px 1px 1px rgba(116,87,117,1);
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  background: linear-gradient(45deg, rgba(213,144,159,1) 0%, rgba(157,108,128,1) 100%);
}

.stopsSelectionContainer button:hover {
  background: rgba(217,73,44,1);
}

.beforeEvent, .afterEvent {
  width: 40%;
}

.filterTitle {
  color: #ddd;
  font-weight: 300;
  text-transform: capitalize;
}

.priceRange {
  border-radius: 3px;
  display: flex;
  height: 45px;
  align-items: center;
}

.priceRange span {
  margin-right: 5px;
  padding: 13px 18.5px;
  color: #fff;
  border: 1px solid #fff;
}

.priceRange span.selected {
  background: #e58da6;
}

.priceRange span:hover {
  cursor: pointer;
  background: #e58da6;
}

.priceRange span.last {
  margin-right: 0;
}

.Select-menu-outer div div:hover {
  background: #eef5ff;
  cursor: pointer;
}

.Select-menu-outer div div{
  background: #eef5ff;
  cursor: pointer;
  background: #fff;
}

.Select-menu-outer div {
  background: #f8f8f8;
  cursor: pointer;
}

.Select-menu-outer div {
  border: 1px solid #eee;
  padding: 10px;
}

.Select-menu-outer .is-selected {
  background: #fff;
}

.Select-menu-outer .is-selected:hover {
  background: #fff;
  cursor: pointer;
}

.Select-menu  {
}