.stopsSelection {
  background: linear-gradient(45deg, rgba(207,121,138,1) 0%, rgba(116,87,117,1) 100%);
  width: calc(60% - 140px);
  margin-top: -100px;
  padding: 20px 70px;
  text-align: left;
  align-items: center;
  position: relative;
}

.stopsSelectionContainer {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.stopsSelectionContainer hr {
  height: 200px;
  border-right: 1px solid #e58da6;
  border-left: 0;
  border-top: 0;
  width: 1px;
  margin: 0;
}

.filtersError {
  height: 100%;
  display: inline-block;
  background: #e5eff1;
  position: absolute;
  width: 100%;
  color: #555;
  font-size: 1.4rem;
  top: -22px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  line-height: 2rem;
}

.loadingImg {
  height: 150px;
  width: 150px;
}