* {
  font-family: "Work Sans";
}

.eventsContainer {
    margin-top: -115px;
}

.eventsSearchContainer {
  width: calc(40% - 100px);
  height: 300px;
  background: #fff;
  text-align: left;
  padding: 20px 100px 20px 80px;
}

.eventsSearchContainer button {
  height: 50px;
  width: 41%;
  border-radius: 3px;
  color: #fff;
  background: #292829;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.eventsSearchContainer h5 {
  color: #7c7c7c;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.eventsSearchContainer input {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0 0 0 20px;
  font-size: 1rem;
}

.eventsSearchLocationDate {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.eventsSearchLocationDate input, .eventsSearchLocationDate div {
  width: 46%;
}

.eventsSearchLocationDate .react-datepicker-wrapper, .eventsSearchLocationDate .react-datepicker__input-container input, .eventsSearchLocationDate .react-datepicker__input-container {
  width: 96% !important;
  color: #7c7c7c;
}

.react-datepicker {
  width: 80% !important;
}

.react-datepicker__day-name {
  width: 22% !important;
  margin: 0.4rem;
}

.react-datepicker__header, .react-datepicker__month-container {
  width: 100% !important;
}

.Select-input {
  height: 45px !important;
}

.Select-input > input {
  padding: 0 !important;
}

.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  display: flex;
  align-items: center;
}

.Select-placeholder {
  display: flex;
  align-items: center;
}