.selectedEvent {
  height: 300px;
  background: #282829;
  display: flex;
  background: url('./assets/selected-bg.jpg');
  background-size: cover;
  background-position: center;
}

.selectedImage {
  width: 340px;
  height: 225px;
  background-size: cover;
  border-radius: 3px;
  background-position: center;
}

.selectedContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectedTitle {
  width: 33%;
  text-align: left;
}

.selectedTitle h3 {
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.selectedTitle p {
  color: #c2c2c2;
  text-transform: uppercase;
}

.selectedInfo {
  width: 30%;
  text-align: left;
  display: flex;
  align-items: center;
}

.selectedPrice {
  font-size: 3rem;
  color: #fff;
  font-family: "Roboto";
  margin-right: 20px;
}

.selectedVenue {
  color: #fff;
}

.selectedDate {
  color: #c2c2c2;
}