header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 75px;
  align-items: center;
}

header img {
  height: 46px;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-family: "Exo 2";
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #98b5c8;
  font-style: italic;
}

.loginLink {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
  margin-left: 55px;
}

.loginLink img {
  height: 25px;
}