* {
  font-family: "Work Sans";
}

h1 {
  font-family: "Exo 2";
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
}

h2 {
  color: #787878;
  font-family: "Exo 2";
  font-size: 1.2rem;
  margin: 0;
}

h3 {
  color: #787878;
  font-family: "Exo 2";
  font-weight: 500;
  text-align: left;
  font-size: 1.1rem;
  margin-top: 0px;
}

.loginContainer {
  height: 685px;
  padding-top: 140px;
  background-image: url('./assets/login-bg.jpg');
  background-size: cover;
}

.signupContainer {
  width: 570px;
  margin: 50px auto 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 40px 70px;
}

.signupForms {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.emailSignup {
  display: flex;
  height: 150px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.emailSignup button {
    height: 40px;
    width: 100%;
    border: none;
    background: #79b32b;
    border-radius: 3px;
    color: #fff;
    font-size: 1rem;
}

.loginIntro {
  color: #fff;
  font-family: "Work Sans";
  width: 50%;
  margin: 0 auto;
  line-height: 28px;
}

.locationInput input{
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0 20px;
}

.emailPassForm input {
  height: 35px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0 20px;
  width: calc(100% - 40px);
  font-size: 0.9rem;
}

.emailPassForm {
  width: 45%;
}

.socialSignup {
  width: 45%;
}

.socialSignup button {
  width: 100%;
  height: 35px;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.socialSignup button:hover {
  cursor: pointer;
}

.googleBtn button {
  background: #de4c33;
  margin-bottom: 20px;
}

.facebookBtn button {
  background: #3b5999;
}

.locationForm p {
  color: #aaa;
  font-size: 0.9rem;
  margin-top: 10px;
}

/* .locationError {
  width: 34%;
  position: absolute;
  left: -50px;
  line-height: 21px;
  padding: 10px;
  color: #fff !important;
  margin-top: -8px !important;
  height: 40px;
  background: #bbb;
  border-radius: 3px;
} */

.locationForm div {
  position: relative;
}

.locationError {
  position: absolute;
  background: #bbb;
  width: 144px;
  height: 20px;
  top: -12px;
  left: -24px;
  font-size: 0.8rem !important;
  color: #fff !important;
  padding: 7px 12px 17px 15px;
  border-radius: 3px 0 0 3px;
}
.locationError:after, .locationError:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.locationError:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 30px;
	margin-top: -30px;
}
.locationError:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #bbb;
  border-width: 22px;
  margin-top: -22px;
}