.recentEvents {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 9px 8px -6px #eee;
}

.upcomingEvents {
  width: 86%;
  margin: 0 auto;
  text-align: left;
  padding-top: 50px;
}

.upcomingEvents h2 {
  margin: 0 0 50px 0;
  color: #494949;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.upcomingEventsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recentEvent {
  text-align: center;
  width: 24%;
  height: 520px;
  text-align: left;
  margin-bottom: 30px;
  border-radius: 5px;
}

.recentEvent h3 {
  color: #7c7c7c;
  text-transform: uppercase;
  font-size: 1rem;
  display: inline;
}

.recentTitle {
  display: flex;
  height: 40px;
  align-items: flex-end;
}

.eventImage {
  width: 90%;
  height: 190px;
  border-radius: 5px 5px 0 0;
  display: block;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  border: 1px solid #eee;
}

.recentEvent .price {
  color: #4195ce;
  font-weight: 500;
  font-size: 1.2rem;
}

.recentEvent .date {
  color: #999;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-top: 0px;
}

.recentEvent .venue {
  color: #444;
  font-weight: 500;
  font-family: "Exo 2";
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.recentEvent button {
  background: #ccc;
  padding: 10px 25px;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-top: 35px;

}

hr {
  width: 53px;
  margin-left: 0;
  border-bottom: 0;
  border-top: 1px solid #ccc;
}

.eventInfo {
  padding: 15px 0;
}