.planHeader {
  height: 120px;
  z-index: -1;
  position: relative;
  background: url('./assets/plan-bg.jpg');
  background-size: cover;
  margin-top: -115px;
}

.planMain h1 {
  color: #555;
  font-size: 1.5rem;
  margin-top: 70px;
  font-weight: normal;
  font-family: "Work Sans";
}

.planMain h2 {
  color: #333;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 35px;
}

.planMain h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.planWrapper {
  width: 86%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.planImage {
  width: 35%;
  height: 250px;
  display: block;
  background-size: cover;
  background-position: center;
}

.planStop {
  display: flex;
  margin-bottom: 60px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 3px #eee;
  align-items: center;
  padding: 0;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
  margin-top: 35px;
}

.planInfo {
  width: 100%;
  margin-left: 40px;
  padding-right: 30px;
}

.planInfoContainer {
  height: 250px;
  display: flex;
  width: 55%;
  align-items: center;
}

.planInfo .reviewContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.planLeftContainer {
  width: 70%;
  padding-right: 80px;
}

.planRightContainer {
  padding-top: 90px;
  width: 45%
}

.planRightContainer h2 {
  margin-top: 0;
  font-style: italic;
  color: #888;
}

.planRightContainer h4 {
  color: #555;
  font-size: 1.1rem;
  margin: 30px 0 20px 0;
}

.planLeftContainer h2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #eee;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 10px;
  font-size: 2.3rem;
  letter-spacing: -7px;
  align-items: center;
  margin: -5px 20px 0 0;
}

.eventPrice {
  color: #e2604b;
  font-size: 1.3rem;
  margin: 10px 0 10px 0;
}

.eventDate {
  margin-top: 0px;
}

.planLocation {
  margin: 0 0 5px;
  color: #888;
}

.eventTickets {
  padding: 10px 20px;
  background: #e2604b;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
}